.idea
/venv/
/MAI/LABs/Function_Approximation/images/
/MAI/LABs/Function_Approximation/images3/
/MAI/LABs/Function_Approximation/images5/
/MAI/LABs/Function_Approximation/images7/
/MAI/LABs/Function_Approximation/images9/
/MAI/LABs/Function_Approximation/images12/
/MAI/LABs/Function_Approximation/images25/
/MAI/LABs/Function_Approximation/images50/
/MAI/LABs/Function_Approximation/images70/

